.btn-rounded
{
    border-radius: 23px !important;
    font-weight: 700;
}
.btnpill
{
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 23px;
}
.menuhead
{
    font-weight: 700;
}
.menuall
{
    color: #FF9921;
    font-size: 22px;
}
.menuall:hover
{
    cursor: pointer;
}
@media (max-width:767px)
{
    .menupills
    {
      overflow-x: scroll;
      justify-content: unset !important;
    }
}

