.nav-link
{
    font-weight: 600;
}
a
{
    text-decoration: none;
}
@media (max-width:991px)
{
    .navbar-nav
    {
        gap: 0px !important;
        margin: 8px 0px !important;
        flex-direction: row !important;
        justify-content: space-evenly !important;
    }
}